
.lefttitle{
  list-style: none;
  font-size: 30px;
  line-height: 0.7;
  border-left: 5px solid #337ab7;
  padding-left: 15px;
  margin-top: 25px;
  overflow: hidden
}
@media only screen and (max-width: 500px) {

}
/*checkbox style*/
.checkboxPosition{
  right: 1%;
  z-index:1500;
  position:absolute;
  margin-top: 45vh
}
/*mapkey of circle marker style*/
.circleMapKeyPosition{
  right: 1%;
  z-index:1500;
  position:absolute;
  margin-top: 56vh
}
/*circle map key style*/
.circle {
  border-radius: 50%;
  background: transparent;
  border: 1px solid red;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c2 {
  width: 70px;
  height: 70px;
  border-color: red;
}

.c3 {
  width: 45px;
  height: 45px;
  border-color: red;
}

.c4 {
  width: 20px;
  height: 20px;
}